@font-face {
	font-family: "ROBOTOP";
	src: url("../fonts/ROBOTOP/ROBOTOP.ttf");
	src: url("../fonts/ROBOTOP/ROBOTOP.ttf") format("embedded-opentype"),
			 url("../fonts/ROBOTOP/ROBOTOP.ttf") format("woff"),
			 url("../fonts/ROBOTOP/ROBOTOP.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Typ_Al";
	src: url("../fonts/Typometry/Typometry_Alternate.ttf");
	src: url("../fonts/Typometry/Typometry_Alternate.ttf") format("embedded-opentype"),
			 url("../fonts/Typometry/Typometry_Alternate.ttf") format("woff"),
			 url("../fonts/Typometry/Typometry_Alternate.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
.top_score{
    font-family: Typ_Al;

}
.score1{
        font-family: Typ_Al;

    position: absolute;
    width: 350px;
    height: 350px;
    background: #B0B8E5;
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    text-transform: uppercase;
        top : 35%;
        left: 38%;
	overflow-y: scroll;
}
.score1::-webkit-scrollbar {
    width: 12px;
}

.score1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.score1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

