@font-face {
	font-family: "ROBOTOP";
	src: url("../fonts/ROBOTOP/ROBOTOP.ttf");
	src: url("../fonts/ROBOTOP/ROBOTOP.ttf") format("embedded-opentype"),
			 url("../fonts/ROBOTOP/ROBOTOP.ttf") format("woff"),
			 url("../fonts/ROBOTOP/ROBOTOP.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Typ_Al";
	src: url("../fonts/Typometry/Typometry_Alternate.ttf");
	src: url("../fonts/Typometry/Typometry_Alternate.ttf") format("embedded-opentype"),
			 url("../fonts/Typometry/Typometry_Alternate.ttf") format("woff"),
			 url("../fonts/Typometry/Typometry_Alternate.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
.register{
    position: absolute;
    width: 350px;
    height: 350px;
    background: #B0B8E5;
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    text-transform: uppercase;
        top : 35%;
        left: 38%;

}

.line00{
    position: absolute;
    width: 73px;
    height: 0px;
    border: 2px solid #000000;
    transform: rotate(-62.88deg);
    text-transform: uppercase;
        top : 8%;
        left: -7%;
}
